[submodule "micropython"]
	path = micropython
	url = git@github.com:dgarrett/Inkplate-micropython.git
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/micropython/micropython-lib
